*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    padding: 50px 0px;
    height: 15vh;
}
nav ul {
    display: flex;
    align-items: center;
}
.logo{
    margin: 0px 0px 0px 70px;
    height: 40px;
    width: 80px;
}
.home{
    font-weight: 600;
}
nav ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 45px;
    font-family: corbel;
}
.navcolor{
    color: #808080;
}
.contact{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 430px;
    font-size: 12px;
    padding: 12px 25px;
    border-radius: 10px;
    background-color:hwb(240 19% 46%);
    color: #ffffff;
    border: none;
}

/* Hero Section */
main{
    display: flex;
    /* justify-content: center;
    align-items: center; */
    height: 85vh;
}
.leftsection{
    width: 30%;
    /* position: absolute; */
}
.rightsection{
    width: 70%;
    /* position: absolute;
    left: 0; */
}
.pic{
    position: absolute;
    right: 0px;
    bottom: 0px;
    height: 85vh;
}
#heading{
    font-size: 50px;
    padding: 110px 10px 15px 70px;
    font-family: corbel;
}
.span1{
    color: hsl(286, 20%, 51%);
}
.span2{
    color: #7499de;
}
.para1{
    padding: 0px 10px 40px 70px;
    font-size: 20px;
}
.btn{
    margin: 50px 10px 10px 70px;
    padding: 20px 35px;
    color: #ffffff;
    background-color: #284f98;
    border: none;
    border-radius: 10px;
}
